<textarea><script src="boomerang.js" type="text/javascript"></script>
<script type="text/javascript">
BOOMR.init({
	beacon_url: "http://yoursite.com/path/to/beacon.php",
	user_ip: "<user's ip>",
	BW: {
		base_url: "http://base_url/to/bandwidth/images/",
		cookie: "BW"
	}
});
</script>
</textarea>